<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a id="textcolourwhite" class="navbar-brand font-weight-bold one" href="index.html">MultiSearch.com</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <button type="button" class="btn btn-secondary margintobutton">Home</button>
      </li>
      <li class="nav-item active">
        <button type="button" class="btn btn-secondary margintobutton">My Account</button>
      </li>
      <li class="nav-item active">
        <button type="button" class="btn btn-secondary margintobutton">Support</button>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <img class="socialicons" src="./assets/facebook.png" alt="facebook">
      <img class="socialicons" src="./assets/insta.png" alt="insta">
      <img class="socialicons" src="./assets/twitter.png" alt="insta">
    </form>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary margintobutton">Sign Up</button>
      <button type="button" class="btn btn-secondary margintobutton">Log In</button>
    </div>
  </div>
</nav>